a {
  color: black;
  text-decoration-line: none;
}

.dropdown {
  position: relative;
  display: inline-block;
  z-index: 1000;

  .menu-btn {
    font-size: 2em;
    cursor: pointer;
  }

  .dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    min-width: 200px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
    z-index: 1;

    &.active {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }

    li {
      padding: 10px 20px;
      font-size: 16px;
      color: #333;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #f1f1f1;
      }
    }
  }
}