// 변수 설정
$primary-color: #fff;
$background-color: rgba(255, 255, 255, 0.1);
$font-family: "Noto Sans Batak", sans-serif;

// 믹스인 설정
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin backdrop-filter {
  background-color: $background-color;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.login-component {
  height: 100vh;
  width: 100%;
  @include flex-center;
  flex-direction: column;
  position: relative;

  .member-background {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: url("../../../../public/images/memberBackground.jpg") no-repeat center top / 100% 100%;
  }

  .login-form {
    z-index: 1;
    width: 320px;
    height: 540px;
    padding: 64px;
    border-radius: 20px;
    @include backdrop-filter;
    box-shadow: 2px 7px 15px 5px rgba(0, 0, 0, 0.3);
    @include flex-center;
    flex-direction: column;
    gap: 30px;
    font-family: $font-family;

    .login-title {
      font-family: "BM Dohyeon", sans-serif;
      font-size: 3em;
      color: $primary-color;
      -webkit-text-stroke: 1px black;
    }

    .input-area {
      width: 100%;
      @include flex-center;
      flex-direction: column;
      gap: 20px;

      .login-input {
        color: $primary-color;
        font-family: $font-family;
        font-weight: 700;
        font-size: 1.2em;
        background-color: transparent;
        width: 90%;
        height: 50px;
        border: 2px solid $primary-color;
        border-radius: 25px;
        padding: 0 20px;

        &::placeholder {
          color: $primary-color;
          font-family: $font-family;
          font-weight: 700;
        }

        &:focus {
          outline: none;
        }
      }

      .message {
        color: #fff;
      }
    }

    .auto-login-forgot-password {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .auto-login-label {
        color: $primary-color;
        font-size: 1.2em;
        display: flex;
        align-items: center;

        & input[type="checkbox"] {
          font: inherit;
          color: currentColor;
          width: 1.15em;
          height: 1.15em;
          border: 0.15em solid currentColor;
          border-radius: 0.15em;
          transform: translateY(-0.075em);
        }
      }

      .forgot-password {
        text-decoration-line: none;
        color: $primary-color;
        font-size: 1.2em;
      }
    }

    .btn-login-process {
      background-color: $primary-color;
      border: none;
      height: 50px;
      width: 100%;
      border-radius: 30px;
      font-size: 1.3em;
      color: #000;
    }

    .intend-register {
      color: $primary-color;
      font-size: 1.1em;
      display: flex;
      align-items: center;

      & a {
        text-decoration-line: none;
        color: $primary-color;
        font-weight: 700;
        font-size: 1.3em;
        margin-left: 5px;
      }
    }

    .social-login-title {
      display: flex;
      align-items: center;
      gap: 10px;

      & div {
        width: 100px;
        height: 2px;
        background-color: $primary-color;
      }

      & span {
        font-size: 1.2em;
        font-weight: 700;
        color: $primary-color;
      }
    }

    .social-login {
      width: 45%;
      display: flex;
      justify-content: space-between;

      & img {
        width: 50px;
        cursor: pointer;
        background-color: $primary-color;
        border-radius: 10px;
        padding: 5px;
      }
    }
  }
}

// 테블릿 반응형
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .login-component {
    .login-form {
      width: 400px;
      height: 600px;
      padding: 40px;

      .login-title {
        font-size: 2.5em;
      }

      .input-area {
        gap: 25px;

        .login-input {
          font-size: 1.1em;
          height: 45px;
        }
      }

      .auto-login-forgot-password {
        .auto-login-label,
        .forgot-password {
          font-size: 1.1em;
        }
      }

      .btn-login-process {
        height: 45px;
        font-size: 1.2em;

      }

      .intend-register {
        font-size: 1em;

        & a {
          font-size: 1.2em;
        }
      }

      .social-login-title {
        & div {
          width: 80px;
        }

        & span {
          font-size: 1.1em;
        }
      }

      .social-login {
        & img {
          width: 45px;
        }
      }
    }
  }
}

// 모바일 반응형
@media screen and (max-width: 767px) {
  .login-component {
    .login-form {
      width: 270px;
      height: 500px;
      padding: 30px;

      .login-title {
        font-size: 2em;
      }

      .input-area {
        gap: 20px;

        .login-input {
          font-size: 1em;
          height: 40px;
        }
      }

      .auto-login-forgot-password {
        .auto-login-label,
        .forgot-password {
          font-size: 1em;
        }
      }

      .btn-login-process {
        height: 40px;
        font-size: 1.1em;
      }

      .intend-register {
        font-size: 0.9em;

        & a {
          font-size: 1.1em;
        }
      }

      .social-login-title {
        & div {
          width: 60px;
        }

        & span {
          font-size: 1em;
        }
      }

      .social-login {
        & img {
          width: 40px;
        }
      }
    }
  }
}